<section class="row">
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Menu
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a routerLink="/">Retour au front</a></li>
      <li class="list-group-item">
        <a (click)="authService.logoutBack()">Logout</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/admin/user">Gestion des utilisateurs</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/admin/article">Gestion des articles</a>
      </li>
    </ul>
  </div>
  <div class="col"><p>Bienvenue dans le Back Office !!!</p></div>
</section>
